* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;

	/* to use grid layout, the container tag must have the following property */
	display: grid;

	/* the grid layout works on both dimensions, so it's possible to specify how columns and rows are sized */
	grid-template-columns:
		30% /* side bar */
		auto /* main content */
	;
	grid-template-rows:
		60px /* header */
		auto /* main content */
		60px /* footer */
	;
	/* to span across cells, it's possible to define names */
	grid-template-areas:
		"header-area header-area"
		"sidebar-area main-area"
		"footer-area footer-area"
	;
}

header, aside, main, footer {
	padding: 16px;
	text-align: center;
}

header {
	background: #521751;
	grid-area: header-area;
}

aside {
	background: #fa923f;
	grid-area: sidebar-area;
}

main {
	grid-area: main-area;
}

footer {
	background: black;
	grid-area: footer-area;
}

.header-list, .footer-list {
	list-style: none;
	margin: 0;
	padding: 0;

	/* it's always possible to use grid layout instead of flexbox, but flexbox
	is easier and has better browser support (and is built to do this kind of things...)
	*/

	/* to use flexbox, the container tag must have the following property */
	display: flex;

	flex-direction: row; /* specify main direction for flexbox */
	justify-content: center; /* flexbox alignment for main direction */
	align-items: center; /* flexbox alignment for cross direction */
	height: 100%; /* this is required by align-items to properly align... */
}

.sidebar-list {
	list-style: none;
	margin: 0;
	padding: 0;

	/* it's always possible to use grid layout instead of flexbox, but flexbox
	is easier and has better browser support (and is built to do this kind of things...)
	*/

	/* to use flexbox, the container tag must have the following property */
	display: flex;

	flex-direction: column; /* specify main direction for flexbox */
	justify-content: center; /* flexbox alignment for main direction */
	align-items: center; /* flexbox alignment for cross direction */
	height: 100%; /* this is required by align-items to properly align... */
}

.header-item, .footer-item {
	margin: /*TODO: this is just a hack to space items in the flexbox; replace with proper flexbox style */
		0 /* top & bottom */
		10px /* left & right */
	;
}

.sidebar-item {
	margin: /*TODO: this is just a hack to space items in the flexbox; replace with proper flexbox style */
		10px /* top & bottom */
		0 /* left & right */
	;
}

.header-item a, .footer-item a {
	text-decoration: none;
	color: white;
}

.sidebar-item a {
	text-decoration: none;
	color: black;
}

.header-item a:hover, .header-item a:active,
.footer-item a:hover, .footer-item a:active {
	color: #fa923f;
}

.sidebar-item a:hover, .sidebar-item a:active {
	color: white;
}
